/* BASIC LAYOUT CONTAINERS */

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin: 2rem;
}

#content-container {
  display: flex;
  justify-content: space-evenly;
}

#chart-container,
#maps-container {
  padding-top: 3rem;
  flex: 1;
}

/* MEDIA QUERIES - RESPONSIVE */

@media (max-width: 820px) {
  #content-container {
    flex-direction: column;
  }
}
