/* BASIC LAYOUT CONTAINERS */

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin: 2rem;
}

#header-container {
}

#content-container {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

#maps-container {
  background-color: red;
}

#chart-container,
#maps-container {
  padding-top: 3rem;
  border: 1px solid black;
  flex: 1;
}
